

body{
    width: 100vw;
    height: 100vh;

}
.Calculadora{
    height: 360px;
    width: 250px;    
    border: 1px solid black; 
    position: absolute;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 10px;
    /* background: rgb(255, 123, 0); */
    /* background: linear-gradient(45deg, rgb(255, 123, 0) 0%, rgba(0,0,0,1) 83%); */
    background-image: url(./img/fundo.jpg) ;

}

input{
    height: 30px;
    width: 88%;
    margin: 10px;
    text-align: right;
    border: 1px solid rgb(209, 206, 206);
    border-radius: 10px;
   
}

.botao{
    height: 50px;
    width: 50px;
    margin: 4px;
    border-radius: 10px;
    border: 1px solid rgb(209, 206, 206);
    background-color: black;
    color: white;
    cursor: pointer;
    transition: 0.4s;
}
.botao:hover{
    background-color: rgb(71, 71, 71);
}
.botaomaior{
    height: 40px;
    width: 97%;
    margin: 4px;
    border-radius: 10px;
    border: 1px solid rgb(209, 206, 206); 
    background-color: black;
    color: white;
    cursor: pointer;
    transition: 0.4s;
}

.botaomaior:hover{
    background-color: rgb(71, 71, 71);
}